body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

html {
    overflow-y: scroll;
    user-select: none;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.clear {
    clear: both;
}