<div class="person-add-container">

    <a class="add-button" (click)="show()">
        <span class="success" *ngIf="showSuccess" [@fadeInOut]>success</span>
        <span class="error" *ngIf="showError" [@fadeInOut]>error</span>
        <span>add</span>
    </a>

    <div class="person-modal" *ngIf="showModal" [@fadeInOut]>

        <form (ngSubmit)="onSubmit($event)">

            <div class="form-group">
                <label for="userName">Username:</label>
                <input type="text" class="form-control" required id="userName" 
                       pattern=".{5,}" title="5 characters minimum"
                       [(ngModel)]="person.userName" name="userName">
            </div>

            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" required id="firstName"
                       [(ngModel)]="person.firstName" name="firstName">
            </div>

            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" required id="lastName"
                       [(ngModel)]="person.lastName" name="lastName">
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" class="form-control" required id="phone"
                       pattern="^((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}$" title="please enter a valid phone number e.g. 555-555-5555"
                       [(ngModel)]="person.phone" name="phone">
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address"
                       [(ngModel)]="person.address" name="address">
            </div>

            <div class="form-group">
                <label for="picture">Picture URL:</label>
                <input type="text" class="form-control" id="picture"
                       [(ngModel)]="person.picture" name="picture">
            </div>

            <button type="submit" class="btn btn-success" >Add Person</button>

        </form>

    </div>

</div>