<div class="person-search-container">

    <div class="title-container">
        <div class="title">Person Search</div>
        <input #searchBox class="search-box" (keyup)="search(searchBox.value)"/>
        <person-add class="col-xs-12 col-sm-2"></person-add>
    </div>


    <div class="row" *ngFor="let person of persons | async">

        <img class="image col-xs-12 col-sm-2" src="{{person.picture}}"/>

        <div class="col-xs-12 col-sm-10">
            <div class="info">
                <div class="username">
                    <span>Username:</span> {{person.userName}}
                </div>

                <div class="name">
                    <span>Name:</span> {{person.firstName}} {{person.lastName}}
                </div>
                <div class="phone">
                    <span>Phone:</span> {{person.phone}}
                </div>

                <div class="address">
                    <span>Address:</span> {{person.address}}
                </div>
            </div>
        </div>
    </div>
</div>