<div>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>

    <div>
        <div class="person-search-container" *ngFor="let person of persons | async">

            <img src="{{person.picture}}"/>

            <div>
                Username: {{person.userName}}
            </div>

            <div>
                Name: {{person.firstName}} {{person.lastName}}
            </div>
            <div>
                Phone: {{person.phone}}
            </div>

            <div>
                Address: {{person.address}}
            </div>
            
        </div>
    </div>
</div>